@model List<TechSupportWeb.Models.Product>

@{
    ViewBag.Title = "ProductList";
}

<div class="row">
    <div class="col-md-12">
        <h2>List of Products</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="products" class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Product Code</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Version</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <th scope="row">@product.ProductCode</th>
                        <td scope="row">@product.Name</td>
                        <td scope="row">@product.Version</td>
                        <td scope="row">@product.ReleaseDate</td>
                        <td>
                            @Html.ActionLink("Edit", "AddProduct", "Product", new { id = product.ProductCode.Trim() }, null) |
                            @Html.ActionLink("Delete", "DeleteProduct", "Product", new { id = product.ProductCode.Trim() }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>