@model List<TechSupportWeb.Models.Registration>


<div class="row">
    <div class="col-md-12">
        <h2>List of Registrations</h2>
    </div>
</div>

@using (Html.BeginForm("RegistrationList", "Registration", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-12">
            <input type="text" placeholder="Search..." name="searchTerm" id="searchTerm" />
        </div>
        <div class="col-md-12">
            <input type="submit" value="Submit" />
        </div>
    </div>
}

<div class="col-md-12">
    @Html.ActionLink("Add New Registration", "AddRegistration", "Registration", null, null)
</div>


<div class="row">
    <div class="col-md-12">
        <table id="customers" class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Product Code</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var registration in Model)
                {
                    <tr>
                        <td scope="row">@registration.Customer.Name</td>
                        <td scope="row">@registration.ProductCode</td>
                        <td scope="row">@registration.RegistrationDate</td>
                        <td>
                            @Html.ActionLink("Edit", "AddRegistration", "Registration", new { id = registration.CustomerID }, null) |
                            @Html.ActionLink("Delete", "Delete", "Registration", new { id = registration.CustomerID }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>