@model List<TechSupportWeb.Models.Customer>

@{
    ViewBag.Title = "CustomersList";
}

<div class="row">
    <div class="col-md-12">
        <h2>List of Customers</h2>
    </div>
</div>

@using (Html.BeginForm("CustomerList", "Customer", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-12">
            <input type="text" placeholder="Search..." name="searchTerm" id="searchTerm" />
        </div>
        <div class="col-md-12">
            <input type="submit" value="Submit" />
        </div>
    </div>
}

<div class="col-md-12">
    @Html.ActionLink("Add New Customer", "AddCustomer", "Customer", null, null)
</div>

<div class="row">
    <div class="col-md-12">
        <table id="customers" class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">ZipCode</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td scope="row">@customer.CustomerID</td>
                        <td scope="row">@customer.Name</td>
                        <td scope="row">@customer.Address</td>
                        <td scope="row">@customer.City</td>
                        <td scope="row">@customer.State</td>
                        <td scope="row">@customer.ZipCode</td>
                        <td>
                            @Html.ActionLink("Edit", "AddCustomer", "Customer", new { id = customer.CustomerID }, null) |
                            @Html.ActionLink("Delete", "Delete", "Customer", new { id = customer.CustomerID }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>

